<!--Fakenews-->
<section id=fakenews>
    <div class="divheader">
        <p class="name">Fakenews</p>
        <div class="row">
            <div class="col">
                <P>Para combater as Fake News sobre saúde, o Ministério da Saúde, de forma inovadora, está disponibilizando um número de WhatsApp para envio de mensagens da população. Vale destacar que o canal não será um SAC ou tira dúvidas dos usuários,
                    mas um espaço exclusivo para receber informações virais, que serão apuradas pelas áreas técnicas e respondidas oficialmente se são verdade ou mentira. Qualquer cidadão poderá enviar gratuitamente mensagens com imagens ou textos que
                    tenha recebido nas redes sociais para confirmar se a informação procede, antes de continuar compartilhando. O número é (61)99333-8597
                    <a class="btn btn-success btn-sm" href="https://api.whatsapp.com/send?phone=5561993338597" role="button">Whatsapp</a></P>

                <div class="card0">
                    <div class="card-header">
                        08/06/2020 - 17h45 - Fake News
                    </div>
                    <div class="card-body">
                        <a href="https://antigo.saude.gov.br/fakenews/47028-declaracao-ministro-pazuello-sobre-atestados-de-obitos-e-fake-news">
                            <h5 class="card-title">Declaração ministro Pazuello sobre atestados de óbitos - É FAKE NEWS!</h5>
                        </a>
                        <p class="card-text">O Ministério da Saúde informa que a referida publicação trata-se de Fake News. O ministro interino da Saúde, Eduardo Pazuello, não manifestou essa declaração e não possui contas...</p>
                        <a href="https://antigo.saude.gov.br/fakenews/47028-declaracao-ministro-pazuello-sobre-atestados-de-obitos-e-fake-news" class="btn btn-primary btn-sm">Leia Mais</a>
                        <p class="fonte">fonte: Ministério da saúde</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="card1">
                    <div class="card-header">
                        29/05/20 - 15h37 - Fake News
                    </div>
                    <div class="card-body">
                        <a href="https://antigo.saude.gov.br/fakenews/46973-mensagem-do-pazuello-no-twitter-sobre-policia-federal-e-fake-news" target="blank">
                            <h5 class="card-title">Mensagem do Pazuello no Twitter sobre Polícia Federal - É FAKE NEWS!</h5>
                        </a>
                        <p class="card-text">Atenção! O Ministério da Saúde informa que o ministro interino Eduardo Pazuello não possui contas nas redes sociais. O perfil com a mensagem é "fake" e a pasta solicitou à...</p>
                        <a href="https://antigo.saude.gov.br/fakenews/46973-mensagem-do-pazuello-no-twitter-sobre-policia-federal-e-fake-news" class="btn btn-primary btn-sm">Leia mais</a>
                        <p class="fonte">fonte: Ministério da saúde</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="card0">
                    <div class="card-header">
                        28/05/20 - 11h34 - Fake News
                    </div>
                    <div class="card-body">
                        <a href="https://antigo.saude.gov.br/fakenews/46967-vacina-da-gripe-aumenta-risco-de-adoecer-por-coronavirus-e-fake-news" target="blank">
                            <h5 class="card-title">Vacina da gripe aumenta risco de adoecer por coronavírus - É FAKE NEWS!</h5>
                        </a>
                        <p class="card-text">O Não compartilhe esse conteúdo. Ele contém informações erradas. Não existem estudos correlacionando vacinação para influenza e risco de adoecimento ou complicações por Covid-19....</p>
                        <a href="https://antigo.saude.gov.br/fakenews/46967-vacina-da-gripe-aumenta-risco-de-adoecer-por-coronavirus-e-fake-news" class="btn btn-primary btn-sm">Leia mais</a>
                        <p class="fonte">fonte: Ministério da saúde</p>
                    </div>
                </div>
            </div>
        </div>

</section>
<!--FIM Fakenews-->