<!--CARROCEL-->
<section id=caroucel>
    <div class="divbody">
        <p class="name">Dicas de Saúde</p>
        <div class="row">
            <div class="col-sm">

                <div id="carouselExampleIndicators" class="carousel slide carousel-fade carousel-dark" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="row">
                                <H1>O que é a Covid-19?</H1>
                                <p class="carouseltxt">A Covid-19 é uma infecção respiratória aguda causada pelo coronavírus SARS-CoV-2, potencialmente grave, de elevada transmissibilidade e de distribuição global.

                                    <a href='https://www.gov.br/saude/pt-br/coronavirus/o-que-e-o-coronavirus' target="blank">Leia mais
                                    </a>


                                </p>
                            </div>
                            <img src="resources\img\carousel\vacina-covid19-generica.png" class="d-block w-100" alt="Imagem dica 1 - Imagem com fundo branco, a esquerda um frasco com a dose da vacina contra a covid 19. No frasco um rotulo verde coma escrita SARS-COV-2 VACINA, a direita uma seringa deitada sobre uma superfície.">

                        </div>
                        <div class="carousel-item">
                            <div class="row">
                                <H1>Como é transmitido?</H1>
                                <p class="carouseltxt">Vírus pode ser transmitido durante um aperto de mão (seguido do toque nos olhos, nariz ou boca), por meio da tosse, espirro e gotículas respiratórias contendo o vírus
                                    <a href='https://www.gov.br/saude/pt-br/coronavirus/como-e-transmitido' target="blank">Leia mais</a></p>
                            </div>
                            <img src="resources\img\carousel\children-s-safety-hd.jpg" class="d-block w-100" alt="Imagem dica 2 - Imagem com fundo branco, no centro um rapaz afrodescendente ao lado de uma garota. Atrás do rapaz e da garota um fundo azul claro que é estendido até cinco outras imagens acima. Primeira imagem a esquerda dois bonecos representando cidadãos mantendo o afastamento, segunda imagem é o rosto de uma garota que está utilizando máscara, terceira imagem uma janela de madeira aberta e é possível ver o céu e nuvens a traves da janela, quarta imagem duas mãos e uma esta lavando a outra com agua e sabão, quinta imagem um rapaz cobrindo o rosto com o braço ao espirrar.">
                        </div>
                        <div class="carousel-item">
                            <div class="row">
                                <H1>Sintomas</H1>
                                <p class="carouseltxt">A infecção pelo SARS-CoV-2 pode variar de casos assintomáticos e manifestações clínicas leves, até quadros moderados, graves e críticos, sendo necessária atenção especial aos sinais e sintomas que indicam piora do quadro
                                    clínico que exijam a hospitalização do paciente.
                                    <a href='https://www.gov.br/saude/pt-br/coronavirus/sintomas' target="blank">Leia mais</a>
                                </p>
                            </div>
                            <img src="resources\img\carousel\face-shields-kr-2x1-tease-200724.png" class="d-block w-100" alt="Imagem dica 3 - Uma moça dentro de um escritório com o fundo ofuscado, ela está utilizando máscara de tecido e está colocando uma segunda mascara protetora de acrílico.">
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                              <span class="visually-hidden">Previous</span>
                            </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                              <span class="carousel-control-next-icon" aria-hidden="true"></span>
                              <span class="visually-hidden">Next</span>
                            </button>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>
<!--FIM CARROCEL-->