<!--CARROCEL-->
<section id=caroucel>
    <div class="divbody">
        <p class="name">Dicas de Saúde</p>
        <div class="row">
            <div class="col-sm">

                <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="row">
                                <H1>O que é a Covid-19?</H1>
                                <p class="carouseltxt">A Covid-19 é uma infecção respiratória aguda causada pelo coronavírus SARS-CoV-2, potencialmente grave, de elevada transmissibilidade e de distribuição global.
                                    <a href='https://www.gov.br/saude/pt-br/coronavirus/o-que-e-o-coronavirus' target=b lank>Leia mais</a>
                                </p>
                            </div>
                            <img src="resources\img\carousel\vacina-covid19-generica.png" class="d-block w-100" alt="Dica1">

                        </div>
                        <div class="carousel-item">
                            <div class="row">
                                <H1>Como é transmitido?</H1>
                                <p class="carouseltxt">Vírus pode ser transmitido durante um aperto de mão (seguido do toque nos olhos, nariz ou boca), por meio da tosse, espirro e gotículas respiratórias contendo o vírus
                                    <a href='https://www.gov.br/saude/pt-br/coronavirus/como-e-transmitido' target=b lank>Leia mais</a></p>
                            </div>
                            <img src="resources\img\carousel\vacina-covid19-generica.png" class="d-block w-100" alt="Dica2">
                        </div>
                        <div class="carousel-item">
                            <div class="row">
                                <H1>Sintomas</H1>
                                <p class="carouseltxt">A infecção pelo SARS-CoV-2 pode variar de casos assintomáticos e manifestações clínicas leves, até quadros moderados, graves e críticos, sendo necessária atenção especial aos sinais e sintomas que indicam piora do quadro
                                    clínico que exijam a hospitalização do paciente.
                                    <a href='https://www.gov.br/saude/pt-br/coronavirus/sintomas' target=b lank>Leia mais</a>
                                </p>
                            </div>
                            <img src="resources\img\carousel\vacina-covid19-generica.png" class="d-block w-100" alt="Dica3">
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                              <span class="visually-hidden">Previous</span>
                            </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                              <span class="carousel-control-next-icon" aria-hidden="true"></span>
                              <span class="visually-hidden">Next</span>
                            </button>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>
<!--FIM CARROCEL-->