    body,
    #header {
        width: 100%;
    }
    
    .divheader {
        width: 100%;
        padding-right: 9%;
        padding-left: 9%;
        margin-right: auto;
        margin-left: auto
    }
    
    .divbody {
        width: 100%;
        padding-right: 10%;
        padding-left: 10%;
        margin-right: auto;
        margin-left: auto
    }
    
    .divfooter {
        width: 100%;
        padding-right: 10%;
        padding-left: 10%;
        margin-right: auto;
        margin-left: auto
    }
    
    .imgfooter {
        width: 200px;
        height: 60px;
        margin-right: 20px;
        margin-left: 20px;
        padding-top: 10px
    }
    
    .imgs {
        width: 30px;
        height: 30px;
        margin-right: 5px;
        border-radius: 2px;
        -moz-border-radius: 2px
    }
    
    .logo {
        width: 200px;
        height: 46px;
        border-radius: 5px;
        -moz-border-radius: 5px
    }
    
    .name {
        font-family: poppins, sans-serif;
        font-style: normal;
        text-align: center;
        font-weight: 700;
        font-size: 22px;
        line-height: 35px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-bottom: 0px;
    }
    
    .dados {
        margin-top: 0px;
        margin-bottom: 0px;
        font-style: normal;
        text-align: center;
        font-weight: 700;
        font-size: 48px;
        line-height: 30px;
        letter-spacing: .0px;
        color: #ffffff;
        min-height: 50px
    }
    
    #navbarText {
        width: auto;
        background-color: white;
        border-radius: 5px;
        -moz-border-radius: 5px
    }
    
    #header .nav-link {
        text-transform: uppercase;
        font-size: 20px;
        font-weight: 500;
        color: var(--fontcolor)
    }
    
    #header .nav-link:hover {
        color: rgba(47, 168, 243)
    }
    
    #dados {
        width: 100%;
        min-height: 50px;
        position: relative;
        border-radius: 4px;
        overflow: auto;
        margin-top: 10px;
        color: #ffffff;
    }
    
    #conf {
        background-color: rgba(5, 255, 38, 0.966);
        width: 100%;
        min-height: 50px;
        position: relative;
        border-radius: 5px;
        overflow: auto;
        margin-left: auto;
        text-shadow: 0.1em 0.1em #333
    }
    
    #rec {
        background-color: rgba(255, 136, 0, 0.966);
        width: 100%;
        min-height: 50px;
        position: relative;
        border-radius: 5px;
        overflow: auto;
        margin-left: 10px;
        margin-right: 10px;
        text-shadow: 0.1em 0.1em #333
    }
    
    #obt {
        background-color: rgba(174, 0, 255, 0.966);
        width: 100%;
        min-height: 50px;
        position: relative;
        border-radius: 5px;
        overflow: auto;
        margin-right: auto;
        text-shadow: 0.1em 0.1em #333
    }
    
    #caroucel .row {
        margin-top: 10px;
        padding: 0px 0px 10px;
        background-color: rgba(255, 255, 255, 0.8);
        border: 0;
        border-radius: 5px;
        -moz-border-radius: 5px;
        text-align: center;
        color: var(--fontcolor);
    }
    
    #footer .row {
        margin-top: 10px;
        padding: 0px 0px 10px;
        background-color: rgba(255, 255, 255, 0.8);
        border: 0;
        border-radius: 5px;
        -moz-border-radius: 5px;
        text-align: center;
    }