    body,
    html {
        font-family: 'Roboto', sans-serif
    }
    
    #header {
        width: 100%
    }
    
    .div {
        width: 100%;
        padding-right: 9%;
        padding-left: 9%;
        margin-right: auto;
        margin-left: auto
    }
    
    .div2 {
        width: 100%;
        padding-right: 8%;
        padding-left: 8%;
        margin-right: auto;
        margin-left: auto
    }
    
    .imgs {
        width: 30px;
        height: 30px;
        margin-right: 5px;
        border-radius: 2px;
        -moz-border-radius: 2px
    }
    
    .logo {
        width: 200px;
        height: 46px;
        border-radius: 5px;
        -moz-border-radius: 5px
    }
    
    #navbarText {
        width: auto;
        background-color: white;
        border-radius: 5px;
        -moz-border-radius: 5px
    }
    
    #header .nav-link {
        text-transform: uppercase;
        font-size: 20px;
        font-weight: 500;
        color: var(--fontcolor)
    }
    
    #header .nav-link:hover {
        color: rgba(47, 168, 243)
    }
    
    #dados {
        text-align: center;
        -moz-text-align: center;
        justify-content: space-between;
        display: flex;
        flex-wrap: inherit;
        align-items: center;
        position: relative;
    }
    
    #conf {
        background-color: rgba(5, 255, 38, 0.9);
        margin-right: 10px;
        border: 0;
        border-radius: 10px;
        -moz-border-radius: 10px;
        color: var(--fontcolor2);
        padding: 5px 0px 0px;
        justify-content: space-between;
        flex-grow: 1;
        align-items: center
    }
    
    #rec {
        background-color: rgba(255, 136, 0, 0.9);
        margin-left: 10px;
        margin-right: 10px;
        border: 0;
        border-radius: 10px;
        -moz-border-radius: 10px;
        color: var(--fontcolor2);
        font-size: auto;
        padding: 5px 0px 0px;
        justify-content: space-between;
        flex-grow: 1;
        align-items: center
    }
    
    #obt {
        background-color: rgba(174, 0, 255, 0.9);
        margin-left: 10px;
        border: 0;
        border-radius: 10px;
        -moz-border-radius: 10px;
        color: var(--fontcolor2);
        font-size: auto;
        padding: 5px 0px 0px;
        justify-content: space-between;
        flex-grow: 1;
        align-items: center
    }
    
    #carousel .row {
        margin-top: 15px;
        padding: 0px 0px 10px;
        background-color: rgba(255, 255, 255, 0.8);
        border: 0;
        border-radius: 10px;
        -moz-border-radius: 10px;
        text-align: center;
    }